<main>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Transaction Tracker</h1>
    <p class="fs-5 text-muted">Track your spending easily with Transaction Tracker.</p>
  </div>

  <div class="container px-4 py-3" id="features">
    <h2 class="pb-2 border-bottom">Features</h2>
    <div class="row g-2 py-4 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h2>Easy to use</h2>
        <p>You can easily track your monthly spending for each categories</p>
      </div>
      <div class="feature col">
        <h2>Customizable</h2>
        <p>You can create your own categories to tailor your spending data to you!</p>
      </div>
      <div class="feature col">
        <h2>Free!</h2>
        <p>The tracker is totally free with no ads! We don't track you either, we only keep the essential information (Your email as well as your own categories and transactions) but you can delete everything at any point</p>
      </div>
    </div>
  </div>

  <div class="container px-4 py-3" id="Support">
    <h2 class="pb-2 border-bottom pt-2">Support</h2>
    <div class="col">
      <h3>If you have any questions, don't hesitate to reach out !</h3>
      <p>You can contact us at: transationtracker[@]afetiveau[dot]com</p>
    </div>
  </div>

</main>