<header>
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">Transaction Tracker</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <% if user_signed_in? %>
        <%= link_to "My Transactions", transactions_path, class: "me-3 py-2 text-dark text-decoration-none" %>
        <%= link_to "My Account", edit_user_registration_path, class: "me-3 py-2 text-dark text-decoration-none" %>
    <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "me-3 py-2 text-dark text-decoration-none" %>
        <%= link_to "Sign In", new_user_session_path, class: "me-3 py-2 text-dark text-decoration-none" %>
      <% end %>
    </nav>
  </div>
</header>